body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    margin: 40px 0;
  }
  
  footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%; /* Stretch the footer across the width */
  }
  